@import "variables";
@import "wappNavbar";
@import "wappFooter";


body {
  &.dark-mode {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }

  &.light-mode {
    background-color: $light-background-color;
    color: $light-text-color;
  }

  background-color: #0e141e;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

#userPhoto {
  min-width: 160px;
  width: 160px;
  min-height: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.alert{
  position: absolute;
  top: 20%; 
  right: 1%;
  z-index: 10;
}

h1 {
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.pageTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 12%;
  top: 15%;
  gap: 20px;
  img{
    height: 60px;
  }
}

.container {
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  min-height: 90vh;
  padding-top: 20vh;
}

@media (max-width: 1280px) {

  form{
    padding: 0;
  }

  .pageTitle{
    top: 160px;
  }
  
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .col{
    max-width: 95%;
  }

  .section {
    padding-top: 15vh;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 40px;
  }

  .pageTitle{
    img{
      height: 45px;
    }
  }
}
