html {
  scrollbar-width: auto;
  scrollbar-color: #fff;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100vw;
}
html ::-webkit-scrollbar {
  width: 7px;
}
html ::-webkit-scrollbar-track {
  background: #000000;
}
html ::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
  border: 3px none #000;
}

#toggle-sidebar {
  height: 25px;
  position: absolute;
  left: 25px;
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: white;
}

.hidden {
  display: none !important;
}

.left {
  left: -400px;
}

.right {
  left: 0;
}

#sidebar {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 400px;
  height: 100%;
  z-index: 1000;
  background-color: #151e30;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 50px;
}
#sidebar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: Fredoka;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0;
}
#sidebar ul img {
  border-radius: 0;
  width: 40px;
  height: 40px;
  margin: 20px;
}
#sidebar li {
  width: 100%;
  height: 100px;
}
#sidebar li:nth-child(odd) {
  background-color: rgba(39, 46, 104, 0.54);
}
#sidebar li a {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

#fade {
  z-index: 999;
  width: 100vw;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background: rgba(0, 2, 21, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.userInfo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 40px;
}
.userInfo ul {
  width: 100%;
  padding: 15px;
}
.userInfo img {
  width: 50px;
  border-radius: 100%;
}

.logo {
  width: 50px !important;
  border-radius: 100%;
}

.navbar {
  background-color: #111827 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  height: 70px;
}

.top-navbar {
  display: flex;
  align-items: center;
  background-color: #0e141e;
  height: 50px;
  position: relative;
}
.top-navbar a {
  margin-left: 15px;
  color: white;
}

.top-navbar img {
  position: absolute;
  right: 30px;
  width: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .left {
    left: -60%;
  }
  #sidebar {
    width: 60%;
  }
  #sidebar img {
    width: 120px;
    height: 120px;
  }
  #sidebar ul {
    font-size: 28px;
  }
  #sidebar ul img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .left {
    left: -80%;
  }
  #sidebar {
    width: 80%;
  }
}
.footer {
  background-color: #111827;
  padding: 30px 0;
  margin-top: 40px;
  height: 80px;
  width: 100vw;
  z-index: 3;
}

body {
  background-color: #0e141e;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}
body.dark-mode {
  background-color: #0e141e;
  color: #fff;
}
body.light-mode {
  background-color: #fff;
  color: #333;
}

textarea {
  resize: none;
}

label {
  margin-bottom: 15px;
}

h1 {
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.pageTitle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  top: 18%;
  gap: 20px;
}
.pageTitle .examInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 562px;
  height: 117px;
  border-radius: 20px;
  background: #192236;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pageTitle .examInfo .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  gap: 16px;
  padding-top: 25px;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pageTitle .examInfo .item :nth-child(1) {
  font-weight: 600;
  font-size: 25px;
}

.questionCenter {
  right: 0;
  left: 15%;
}

.questionLeft {
  right: 0;
  left: -70%;
}

.questionRight {
  left: 100%;
  right: -70%;
}

.question {
  position: absolute;
  margin-top: 30px;
  margin-bottom: 150px;
  padding: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 70%;
  gap: 30px;
  min-height: 718px;
  border-radius: 20px;
  background: #192236;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  transition: left 0.6s ease-in-out;
}
.question form {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 30px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.question .backArrow {
  cursor: pointer;
  position: absolute;
  left: 50px;
  bottom: 30px;
  width: 40px;
  height: 40px;
}
.question .nextArrow {
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 30px;
  width: 40px;
  height: 40px;
}

.questions {
  left: 0;
  width: 100vw;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 90vh;
  padding-top: 20vh;
  position: absolute;
  margin-bottom: 150px;
}

.finalResult {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 1, 6, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  z-index: 50;
}
.finalResult .popup {
  border-radius: 20px;
  width: 80%;
  height: 80%;
  position: fixed;
  left: 10%;
  top: 10%;
  z-index: 60;
  background: #151e30;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.finalResult .popup img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.finalResult .examResult {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 117px;
  border-radius: 20px;
  background: #0e1627;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.finalResult .examResult .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  gap: 16px;
  padding-top: 20px;
  text-align: center;
  font-style: normal;
  line-height: normal;
}
.finalResult .examResult .item span {
  font-size: 22px;
  font-weight: 400;
}
.finalResult .examResult .item :nth-child(1) {
  font-weight: 600;
  font-size: 25px;
}
.finalResult .examResult span {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer {
  display: none;
}

@media (max-width: 1280px) {
  .pageTitle .examInfo {
    width: 440px;
    height: 100px;
    border-radius: 20px;
  }
  .pageTitle .examInfo .item {
    gap: 16px;
    padding-top: 20px;
    font-size: 17px;
  }
  .pageTitle .examInfo .item :nth-child(1) {
    font-size: 21px;
  }
  .questionCenter {
    right: 0;
    left: 5%;
  }
  .questionLeft {
    right: 0;
    left: -90%;
  }
  .questionRight {
    left: 100%;
    right: -90%;
  }
  .question {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 90%;
    min-width: 70%;
    gap: 30px;
    min-height: 718px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .question form {
    gap: 30px;
    font-size: 18px;
    line-height: 28px;
  }
  .question .backArrow {
    left: 50px;
    bottom: 30px;
    width: 40px;
    height: 40px;
  }
  .question .nextArrow {
    right: 50px;
    bottom: 30px;
    width: 40px;
    height: 40px;
  }
  .finalResult .examResult .item span {
    font-size: 18px;
    font-weight: 400;
  }
  .finalResult .examResult .item :nth-child(1) {
    font-weight: 600;
    font-size: 20px;
  }
  .finalResult .examResult span {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  body {
    margin-bottom: 30vh;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .pageTitle {
    flex-direction: column;
  }
  .pageTitle .examInfo {
    width: 95%;
    height: 100px;
    border-radius: 20px;
  }
  .pageTitle .examInfo .item {
    gap: 16px;
    padding-top: 20px;
    font-size: 16px;
  }
  .pageTitle .examInfo .item :nth-child(1) {
    font-size: 20px;
  }
  .questionCenter {
    right: 0;
    left: 2.5%;
  }
  .questionLeft {
    right: 0;
    left: -95%;
  }
  .questionRight {
    left: 100%;
    right: -95%;
  }
  .question {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 95%;
    min-width: 70%;
    gap: 30px;
    min-height: 718px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .question form {
    gap: 30px;
    font-size: 18px;
    line-height: 28px;
  }
  .question .backArrow {
    left: 50px;
    bottom: 30px;
    width: 40px;
    height: 40px;
  }
  .question .nextArrow {
    right: 50px;
    bottom: 30px;
    width: 40px;
    height: 40px;
  }
  .finalResult .popup {
    top: 2.5%;
    left: 2.5%;
    height: 95%;
    width: 95%;
  }
  .finalResult .examResult {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px;
    gap: 30px;
  }
  .finalResult .examResult .item span {
    font-size: 18px;
    font-weight: 400;
  }
  .finalResult .examResult .item :nth-child(1) {
    font-weight: 600;
    font-size: 20px;
  }
  .finalResult .examResult span {
    font-size: 24px;
  }
}/*# sourceMappingURL=exam.css.map */