@import "variables";
@import "wappNavbar";
@import "wappFooter";


body {
  &.dark-mode {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }

  &.light-mode {
    background-color: $light-background-color;
    color: $light-text-color;
  }

  background-color: #0e141e;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.pageTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 12%;
  top: 20%;
  gap: 20px;
  img{
    height: 60px;
  }
}

.userPicture {
  width: 170px;
  height: 170px;
  border-radius: 100%;
}

.rankingPicture {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  bottom: -30px;
  left: 45px;
  z-index: 1;
}

.container {
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  min-height: 90vh;
  padding-top: 20vh;
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 40px;
  }

  .pageTitle{
    img{
      height: 45px;
    }
  }

  .section {
    padding-top: 15vh;
  }
}
