@import "variables";
@import "wappNavbar";
@import "wappFooter";

body {
    &.dark-mode {
        background-color: $dark-background-color;
        color: $dark-text-color;
    }

    &.light-mode {
        background-color: $light-background-color;
        color: $light-text-color;
        .signin{
            color: $dark-text-color;
        }
    }
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .alert{
    top: 20%; 
    right: 1%;
  }
  
  .container {
    flex: 1;
  }
  
  .first-access {
    display: flex;
    width: 45%;
    height: 370px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background: #1d2432;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    label{
      padding: 0;
    }
  }
  
  .top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px;
  }
  
  .down {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      color: white;
      border-radius: 6px;
      background: #28a745;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding-left: 18px;
      padding-right: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        background: #1e642e;
      }
    }
  }
  
  .section {
    min-height: 700px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1400px) {
    .first-access {
      width: 60%;
      height: 400px;
    }
  }
  
  @media (max-width: 768px) {
    .first-access {
      width: 90%;
      padding-left: 6%;
      padding-right: 6%;
      h3{
        width: 100%;
      }
    }
  }
  