@import 'variables';
@import 'reset';

body {
    &.dark-mode {
        background-color: $dark-background-color;
        color: $dark-text-color;
    }

    &.light-mode {
        background-color: $light-background-color;
        color: $light-text-color;
    }
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    overflow-x: hidden;
}

p {
    font-size: large;
    margin:  0px 0px 16px;
}

.animated-image {
    position: relative;
    animation: moveImage 6s backwards infinite;
    border-radius: 100%;
}

.logo {
    width: 50px !important;
    border-radius: 100%;
}

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
}

.title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;
    width: 100%;
}

.section {
    min-height: 800px;
    max-width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    width: 18rem;
    color: black;
    padding: 0px !important;
}

.enade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact button {
    margin-top: 40px;
    height: 40px;
    width: 100%;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.questions-header {
    background-color: #111827 !important;
}

.navbar {
    background-color: #0e141e;
}

.top-navbar {
    height: 50px;
    position: relative;
}

.top-navbar img {
    position: absolute;
    right: 30px;
    width: 25px;
    cursor: pointer;
}

.navbar-main {
    background-color: #111827 !important;
}

.navbar-brand {
    gap: 10px;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    margin: 8px;
}

.section-header {
    text-align: center;
}

.card {
    color: black;
    padding: 15px;
}

.contact-form {
    margin-top: 20px;
    width: 100%;
}

.footer {
    background-color: #111827;
    padding: 30px 0;
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .initial img {
        max-width: 40vw;
    }
    .card {
        width: 12rem;
    }

    .navbar-collapse .navbar-nav {
        margin-bottom: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 768px) {
    .section {
        margin-top: 50px;
    }
    .title {
        font-size: 36px;
    }
    .products {
        flex-direction: column;
    }
    .card {
        width: 60vw;
    }
    .initial img {
        max-width: 60vw;
    }
    .about-us {
        flex-direction: column-reverse;
    }
    .about-us img {
        max-width: 60vw;
    }

    .enade {
        flex-direction: column;
    }
    .enade img {
        max-width: 60vw;
    }

    .frame {
        gap: 10px;
    }
    .contact {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .contact img {
        max-width: 60vw;
    }
}

@keyframes moveImage {
    0% {
        transform: translateX(-100%) scaleX(1) translateY(0%);
    }
    25% {
        transform: translateX(0%) scaleX(1) translateY(20%);
    }
    50% {
        transform: translateX(100%) scaleX(1) translateY(0%);
    }
    50.1% {
        transform: translateX(100%) scaleX(-1) translateY(0%);
    }
    75% {
        transform: translateX(0%) scaleX(-1) translateY(-20%);
    }
    100% {
        transform: translateX(-100%) scaleX(-1) translateY(0%);
    }
}
